<div id="wrapper">
<h1>AnniePix</h1>

	<h3><%= link_to "Back", @picture %></h3>
	<div class="show_image">
	<h2>Edit this picture</h2>
	<img class="edit_image" src="<%= @picture[:url] %>">

	<div class="edit_form">
	<%= form_for @picture do |f| %>
		<p><strong>
			<%= f.label "artist" %></strong>
			<%= f.text_field "artist" %>
		</p>

		<p><strong>
			<%= f.label "title" %></strong>
			<%= f.text_field "title" %>
		</p>

		<p><strong>
			<%= f.label "url" %></strong>
			<%= f.text_field "url" %>
		</p>

		<p>
			<%= submit_tag "Save" %>
		</p>
	</div>
	<% end %>
</div>
</div>