<div id="wrapper">
<h1>Anniepix</h1>
<h3><%= link_to "Back to pictures", pictures_url %></h3>
<h2>Add a picture</h2>
<div class="add">
<%= form_for @picture do |f| %>
  <p><strong>
    <%= f.label "artist" %><br></strong>
    <%= f.text_field "artist" %>
  </p>
  <p><strong>
    <%= f.label "title" %><br></strong>
    <%= f.text_field "title" %>
  </p>
  <p><strong>
    <%= f.label "url" %><br></strong>
    <%= f.text_field "url" %>
  </p>
  <p>
    <%= f.submit "Save" %> 
  </p>
<% end %>
</form>
</div>
</div>
